.waw-docks {
    /* overwritten by inline css */
    --top: 50px;
    --left: 50px;
    --bottom: 50px;
    --right: 50px;

    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    grid-template-columns: var(--left) 1fr var(--right);
    grid-template-rows: 5em var(--top) 1fr var(--bottom);
}
.waw-taskbar     { grid-row: 1; }
.waw-top-dock    { grid-row: 2; }
.waw-left-dock   { grid-row: 3; }
.waw-center-dock { grid-row: 3; }
.waw-right-dock  { grid-row: 3; }
.waw-bottom-dock { grid-row: 4; }
.waw-docks > *   { grid-column: 1 / 4; }
.waw-left-dock   { grid-column: 1 / 2; }
.waw-center-dock { grid-column: 2 / 3; }
.waw-right-dock  { grid-column: 3 / 4; }

.waw-docks > * {
    position: relative;
}

.waw-docks .waw-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}

.waw-left-dock > .waw-container,
.waw-right-dock > .waw-container {
    flex-direction: column;
}
.waw-top-dock > .waw-container,
.waw-bottom-dock > .waw-container {
    flex-direction: row;
}

.waw-docks > * {
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.waw-taskbar {background-color: yellow;}

.waw-window {
    /* overwritten by inline css */
    --x: 50px;
    --y: 50px;
    --width: 100px;
    --height: 100px;

    --title-height: 1em;
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: var(--width);
    height: var(--height);
    will-change: left, top, width, height;
    min-height: var(--title-height);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.waw-title, .waw-body {
    position: absolute;
    left: 0;
    right: 0;
}

.waw-title {
    background-color: blue;
    top: 0;
    height: var(--title-height);
    cursor: move;
}

.waw-body {
    top: 1em;
    bottom: 0;
}

/*
 * Anchor classes
 */
.waw-n, .waw-nw, .waw-w, .waw-sw, .waw-s, .waw-se, .waw-e, .waw-ne {
    --delta: 5px;
    position: absolute;
}
.waw-n, .waw-s {
    height: calc(2 * var(--delta));
    left: 0;
    right: 0;
    cursor: ns-resize;
}
.waw-n {
    top: calc(-1 * var(--delta));
}
.waw-s {
    bottom: calc(-1 * var(--delta));
}
.waw-w, .waw-e {
    width: calc(2 * var(--delta));
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}
.waw-w {
    left: calc(-1 * var(--delta));
}
.waw-e {
    right: calc(-1 * var(--delta));
}
.waw-nw, .waw-ne, .waw-sw, .waw-se {
    width: calc(3 * var(--delta));
    height: calc(3 * var(--delta));
}
.waw-nw {
    top: calc(-1 * var(--delta));
    left: calc(-1 * var(--delta));
    cursor: nwse-resize;
}
.waw-ne {
    top: calc(-1 * var(--delta));
    right: calc(-1 * var(--delta));
    cursor: nesw-resize;
}
.waw-sw {
    bottom: calc(-1 * var(--delta));
    left: calc(-1 * var(--delta));
    cursor: nesw-resize;
}
.waw-se {
    bottom: calc(-1 * var(--delta));
    right: calc(-1 * var(--delta));
    cursor: nwse-resize;
}
