.waw-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.waw-taskbar {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.waw-docks {
    /* overwritten by inline css */
    --top: 0;
    --left: 0;
    --bottom: 0;
    --right: 0;

    flex-grow: 1;
    display: grid;
    overflow: hidden;
    grid-template-columns: var(--left) 1fr var(--right);
    grid-template-rows: var(--top) 1fr var(--bottom);
}
.waw-top-dock    { grid-row: 1; }
.waw-left-dock   { grid-row: 2; }
.waw-center-dock { grid-row: 2; }
.waw-right-dock  { grid-row: 2; }
.waw-bottom-dock { grid-row: 3; }
.waw-docks > *   { grid-column: 1 / 4; }
.waw-left-dock   { grid-column: 1 / 2; }
.waw-center-dock { grid-column: 2 / 3; }
.waw-right-dock  { grid-column: 3 / 4; }

.waw-docks > * {
    position: relative;
}

.waw-docks .waw-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}
.waw-left-dock > .waw-container,
.waw-right-dock > .waw-container {
    flex-direction: column;
}
.waw-top-dock > .waw-container,
.waw-bottom-dock > .waw-container {
    flex-direction: row;
}

.waw-drop-zone {
    --delta: -3em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.waw-top-dock > .waw-drop-zone { bottom: var(--delta); }
.waw-left-dock > .waw-drop-zone { right: var(--delta); }
.waw-bottom-dock > .waw-drop-zone { top: var(--delta); }
.waw-right-dock > .waw-drop-zone { left: var(--delta); }

.waw-window {
    position: relative;
}
/* Icon used to drag windows */
.waw-window > img:first-child {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
}

.waw-dock-selector {
    --border: black;
    --normal: green;
    --hovered: red;
    --radius: 2.5em;
    z-index: 999;
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    background-color: var(--border);
    border: calc(var(--radius) * 10 / 100) solid var(--border);
    clip-path: circle(calc(var(--radius) * (1 + 10 / 100)));
}
.waw-dock-selector * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.waw-dock-selector > div {
    clip-path: circle(50%);
}
.waw-dock-selector > div > div:nth-child(1) {
    clip-path: polygon(5% 0%, 50% 47%, 95% 0%);
}
.waw-dock-selector > div > div:nth-child(2) {
    clip-path: polygon(0% 5%, 47% 50%, 0% 95%);
}
.waw-dock-selector > div > div:nth-child(3) {
    clip-path: polygon(5% 100%, 50% 53%, 95% 100%);
}
.waw-dock-selector > div > div:nth-child(4) {
    clip-path: polygon(100% 5%, 53% 50%, 100% 95%);
}
.waw-dock-selector > div > div:nth-child(5) {
    clip-path: circle(27.5%);
    background-color: var(--border);
}
.waw-dock-selector > div > div:nth-child(5) > div {
    clip-path: circle(22.5%);
}
.waw-dock-selector > div > div:not(:last-child),
.waw-dock-selector > div > div:last-child > div {
    background-color: var(--normal);
}
.waw-dock-selector > div > div:not(:last-child):hover,
.waw-dock-selector > div > div:last-child > div:hover {
    background-color: var(--hovered);
}

/* Old code for floating windows
.waw-window {
    /* overwritten by inline css
    --x: 0;
    --y: 0;
    --width: 0;
    --height: 0;

    --title-height: 1em;
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: var(--width);
    height: var(--height);
    will-change: left, top, width, height;
    min-height: var(--title-height);
}

.waw-title, .waw-body {
    position: absolute;
    left: 0;
    right: 0;
}

.waw-title {
    top: 0;
    height: var(--title-height);
    cursor: move;
}

.waw-body {
    top: 1em;
    bottom: 0;
}
*/

/*
 * Anchor classes
 */
.waw-n, .waw-nw, .waw-w, .waw-sw, .waw-s, .waw-se, .waw-e, .waw-ne {
    --delta: 0.5em;
    position: absolute;
}
.waw-n, .waw-s {
    height: calc(2 * var(--delta));
    left: 0;
    right: 0;
    cursor: ns-resize;
}
.waw-n {
    top: calc(-1 * var(--delta));
}
.waw-s {
    bottom: calc(-1 * var(--delta));
}
.waw-w, .waw-e {
    width: calc(2 * var(--delta));
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}
.waw-w {
    left: calc(-1 * var(--delta));
}
.waw-e {
    right: calc(-1 * var(--delta));
}
.waw-nw, .waw-ne, .waw-sw, .waw-se {
    width: calc(3 * var(--delta));
    height: calc(3 * var(--delta));
}
.waw-nw {
    top: calc(-1 * var(--delta));
    left: calc(-1 * var(--delta));
    cursor: nwse-resize;
}
.waw-ne {
    top: calc(-1 * var(--delta));
    right: calc(-1 * var(--delta));
    cursor: nesw-resize;
}
.waw-sw {
    bottom: calc(-1 * var(--delta));
    left: calc(-1 * var(--delta));
    cursor: nesw-resize;
}
.waw-se {
    bottom: calc(-1 * var(--delta));
    right: calc(-1 * var(--delta));
    cursor: nwse-resize;
}
