.waw-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.waw-modal-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

/* Docks */
.waw-docks {
    /* overwritten by inline css */
    --top: 0;
    --left: 0;
    --bottom: 0;
    --right: 0;

    flex-grow: 1;
    display: grid;
    overflow: hidden;
    grid-template-columns: var(--left) 1fr var(--right);
    grid-template-rows: var(--top) 1fr var(--bottom);
}
.waw-top-dock    { grid-row: 1; }
.waw-left-dock   { grid-row: 2; }
.waw-center-dock { grid-row: 2; }
.waw-right-dock  { grid-row: 2; }
.waw-bottom-dock { grid-row: 3; }
.waw-docks > *   { grid-column: 1 / 4; }
.waw-left-dock   { grid-column: 1 / 2; }
.waw-center-dock { grid-column: 2 / 3; }
.waw-right-dock  { grid-column: 3 / 4; }

.waw-docks > * {
    position: relative;
}

.waw-docks .waw-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}
.waw-left-dock > .waw-container,
.waw-right-dock > .waw-container {
    flex-direction: column;
}
.waw-top-dock > .waw-container,
.waw-bottom-dock > .waw-container {
    flex-direction: row;
}

/* Docks' Dropzone */
.waw-drop-zone {
    --delta: -3em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.waw-top-dock > .waw-drop-zone { bottom: var(--delta); }
.waw-left-dock > .waw-drop-zone { right: var(--delta); }
.waw-bottom-dock > .waw-drop-zone { top: var(--delta); }
.waw-right-dock > .waw-drop-zone { left: var(--delta); }

.waw-window {
    position: relative;
}

/* Taskbar */
.waw-taskbar {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
.waw-taskbar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.waw-taskbar > div > div:nth-child(1) {
    margin: 0.2em;
    border-radius: 0.2em;
    border: 0.2em solid transparent;
}
.waw-taskbar > div > div.waw-open-indicator:nth-child(1) {
   border-color: white;
}
.waw-taskbar > div > img:nth-child(2) {
    width: 4em;
    height: 4em;
}
.waw-taskbar > div > div:nth-child(3) {
    margin: 0.3em;
    border: 0.2em solid white;
    border-left-width: 1em;
    border-right-width: 1em;
    border-radius: 0.1em;
}
.waw-taskbar > div > div:nth-child(4) {
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;
}

/* Icon used to drag windows */
.waw-window > img.waw-window-icon {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
}

/* Dock Selector */
.waw-dock-selector {
    --width: 5em;
    --height: 5em;
    --hovered: red;

    /* overwritten by inline css */
    --x: 0px;
    --y: 0px;
    display: grid;
    z-index: 999;
    position: fixed;
    left: clamp(0vw, calc(var(--x) - var(--width) / 2), calc(100vw - var(--width)));
    top: calc(var(--y) + 1em);
    width: var(--width);
    height: var(--height);
}
.waw-dock-selector > div {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
}
.waw-dock-selector > div:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-image: url("dock-top.svg");
}
.waw-dock-selector > div:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url("dock-left.svg");
}
.waw-dock-selector > div:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-image: url("dock-bottom.svg");
}
.waw-dock-selector > div:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-image: url("dock-right.svg");
}
.waw-dock-selector > div:nth-child(5) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.waw-dock-selector > div:hover {
    background-color: var(--hovered);
}

/* Old code for floating windows
.waw-window {
    /* overwritten by inline css
    --x: 0;
    --y: 0;
    --width: 0;
    --height: 0;

    --title-height: 1em;
    position: fixed;
    left: var(--x);
    top: var(--y);
    width: var(--width);
    height: var(--height);
    will-change: left, top, width, height;
    min-height: var(--title-height);
}

.waw-title, .waw-body {
    position: absolute;
    left: 0;
    right: 0;
}

.waw-title {
    top: 0;
    height: var(--title-height);
    cursor: move;
}

.waw-body {
    top: 1em;
    bottom: 0;
}
*/

/*
 * Anchor classes
 */
.waw-n, .waw-nw, .waw-w, .waw-sw, .waw-s, .waw-se, .waw-e, .waw-ne {
    --delta: 0.5em;
    position: absolute;
}
.waw-n, .waw-s {
    height: calc(2 * var(--delta));
    left: 0;
    right: 0;
    cursor: ns-resize;
}
.waw-n {
    top: calc(-1 * var(--delta));
}
.waw-s {
    bottom: calc(-1 * var(--delta));
}
.waw-w, .waw-e {
    width: calc(2 * var(--delta));
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}
.waw-w {
    left: calc(-1 * var(--delta));
}
.waw-e {
    right: calc(-1 * var(--delta));
}
.waw-nw, .waw-ne, .waw-sw, .waw-se {
    width: calc(3 * var(--delta));
    height: calc(3 * var(--delta));
}
.waw-nw {
    top: calc(-1 * var(--delta));
    left: calc(-1 * var(--delta));
    cursor: nwse-resize;
}
.waw-ne {
    top: calc(-1 * var(--delta));
    right: calc(-1 * var(--delta));
    cursor: nesw-resize;
}
.waw-sw {
    bottom: calc(-1 * var(--delta));
    left: calc(-1 * var(--delta));
    cursor: nesw-resize;
}
.waw-se {
    bottom: calc(-1 * var(--delta));
    right: calc(-1 * var(--delta));
    cursor: nwse-resize;
}
